@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    margin: 0 200px;
}
.contenedor-formulario{
    display: flex;
    width: 70%;
    justify-content: space-between;

}
#h1Contacto{
    margin-left: 10%;
    margin-bottom: 20px;
}
form{
    height: auto;
    background-color: rgba(255, 255, 255, 0.811);
    border-radius: 8px;
    min-width: 490px;
    padding: 20px;
    font-size: 18px;


}
form label{
    display: block;
    margin-bottom: 20px;
    width: 90%;
}

form label input{
    background-color: rgba(255, 255, 255, 0.475);
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    padding: 2px 8px;
    transition: all 0.8s ease;

}
textarea{
    background-color: rgba(255, 255, 255, 0.475);
    resize: none;
    width: 91%;
    border-radius: 8px;
    padding: 8px;
    transition: all 0.8s ease;

}
input:focus{
    background-color: rgba(255, 255, 255, 0.756);
}
textarea:focus{
    background-color: rgba(255, 255, 255, 0.756);
}
.formulario{
    background-image: url("../img/fondo.jpg");
    background-position: center;
}

#enviar{
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.475);
    transition: all 0.4s ease;

}
#enviar:hover{
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: rgba(185, 185, 185, 0.862);

}
.horario{
    list-style: none;
    margin: 30px 0px;

}
.horario li{
    margin-bottom: 10px;
}
.textoHorario{
    margin-bottom: 10px;
}


.contenedor-formulario article{
    border: 1px solid rgb(187, 187, 187);
    padding: 20px 30px;
    border-radius: 8px;
    transition: all 0.7s ease;
}
.contenedor-formulario article:hover{
    box-shadow: 0px 1px 21px -2px rgb(124, 124, 124);
}