@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Newsreader:opsz@6..72&display=swap');

hr{
    margin-bottom: 100px;

}
#h1Contacto{
    font-family: 'Newsreader', serif;
    margin-left: 50px;
}
form{
    width: 14.5%;
    height: 40%;
    margin: auto;
    padding: 40px;
    background-image: url(../img/fontoprueba2.png);
    background-repeat: no-repeat;
    background-position: center;

    background-size: 369%;
    border-radius: 30px;
    transition: box-shadow 0.4s ease;
    margin-bottom: 135px;

}

form:hover{
    box-shadow: 5px 5px 15px 26px rgba(238, 237, 237, 0.99);
  }
.inputs{
    
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid black;
    background-color: #F6F5F5;
    font-family: sans-serif;
    width: 100%;
    transition: all 0.3s ease;


}
.inputs:hover{
    box-shadow: 5px 5px 35px 9px rgba(209,209,209,0.94);

}
input{
    border: 0px;
    background-color: #F6F5F5;
    width: 60%;
    height: 35px;
    padding-left: 3px;
    padding-right: 3px;
    font-family: sans-serif;


}

input::placeholder {
    margin-left: 5px;
}
input:focus {
    outline: none; 
    
}

input[type="submit"]{
    background-color: white;
    color: #df3030;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
    width: 120px;
    margin-top: 20%;
    margin-bottom: -10%;
    border: 2px solid white;
    transition: all 0.5s linear;
}
input[type="submit"]:hover{
    background-color: #df3030;
    color: white;
    box-shadow: 5px 5px 35px 4px rgba(209,209,209,0.94);
}
.boton-login:hover {
    background-color: #990000;

  }
textarea{
    margin-left: 15px;
    margin-top: 15px;
    height: 100px;
    width: 70%;
    resize: none;
    border-radius: 5px;
    background-color: #F6F5F5;
    padding: 5px;
    font-family: sans-serif;
    outline: none;
    border: none;
    overflow: auto;
    box-shadow: none;

}

footer {
    width: 100%;
    height: 70px;
    background-color: #df3030;
    position: relative;
    bottom: 0;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: sans-serif;
}
@media (max-width: 720px){
    form{
        width: 40%;
    }
  }
@media(max-width: 520px) {
    form{
        width: 50%;
    }
  }
  


